@import url(base.css);

/*header*/
body > header{background:#a1c0d5;}
body > header > .state *{color:#111;}
body > header > div:last-of-type{position:relative; display:flex; height:42px; justify-content:space-between; align-items:center;}
body > header > div:last-of-type h2{display:inline-block; position:absolute; left:50%; transform:translateX(-50%); line-height:42px; color:#111; font-size:18px;}
body > header > div:last-of-type p{align-self:center; margin-right:10px;}
body > header > div:last-of-type p:last-of-type a{color:#111; font-size:16px;}
body > header > div:last-of-type ul{display:flex; flex-direction:row;}
body > header > div:last-of-type ul li{margin-right:2px;}
body > header > div:last-of-type ul li:last-of-type{margin-right:0;}
body > header > div:last-of-type ul li a{color:#111;}

/*container*/
#container{margin-bottom:55px;}
#contents{height:100%; margin-top:71px; overflow:auto; padding:0 10px;}
#contents > h3{text-align:center; font-size:14px; color:#ccc;}
#contents > article > h3{width:30px; height:30px; margin-right:10px; border-radius:50%; overflow:hidden;}
#contents > article > div{height:100%; display:flex; flex-direction:column; justify-content:space-between; align-items:flex-end;}
#contents > article > div > p > span{display:block; background:#fdeb31; padding:5px 10px; border-radius:5px;}
#contents > article > div > p:last-of-type{display:flex;}
#contents > article > div > p:last-of-type time{align-self:flex-end; font-size:11px;}
#contents > article:first-of-type{height:160px; padding-top:20px; box-sizing:border-box;}
#contents > article:first-of-type > div time{margin-right:40px;}
#contents > article:last-of-type{height:160px; display:flex; margin-top:20px;}
#contents > article:last-of-type > div{align-items:flex-start;}
#contents > article:last-of-type > div > p > span{background:none;}
#contents > article:last-of-type > div time{margin-left:40px;}

/*footer*/
footer{display:flex; flex-direction:row; justify-content:space-between; align-items:center; position:fixed; bottom:0; left:0; width:100%; height:45px; background:#eee; padding:0 10px;}
footer p{padding-left:5px; flex:1;}
footer form{flex:10; position:relative;}
footer form input{width:100%; height:100%;  height:37px; border:1px solid #111; box-sizing:border-box;}
footer form p{position:absolute; top:50%; right:5px; transform:translateY(-50%);}
footer > p:last-of-type{background:#fdeb31; height:37px; line-height:37px;}