@import url(base.css);

/*header*/
header > div:last-of-type{ justify-content:flex-start;}

/*container*/
#container{margin-bottom:55px; height:80%;}
#container > #contents > ul{display:flex; flex-direction:row; justify-content:center; align-items:center;  height:80px; background-color:#eee;}
#container > #contents > ul > li{flex:1;}
#container > #contents > ul > li > a > ul{color:#4e3636; text-align:center;}
#container > #contents > ul > li > a > ul > li:first-of-type{font-size:21px;}
#container > #contents > ul > li > a > ul > li:last-of-type{font-size:12px; padding-top:10px;}
#container > #contents > div > h3{height:22px; line-height:22px; padding-left:15px; font-size:14px; color:#ccc;}
#container > #contents > div > p{border:1px solid #eee; border-left:none; border-right:none; box-sizing:border-box; height:56px; line-height:56px; text-align:center; color:#ccc;}

/*nav*/
nav > ul > li:nth-of-type(3) > a > ul{color:#4e3636;}